@model aspmvccore6test1.Models.ProductDataAccessLayer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ProductDataAccessLayer</h4>
    <h1>@ViewData["B"]</h1>
    <h1>@ViewData["A"]</h1>
    <h1>@ViewData["C"]</h1>
    <hr />
    <dl class="row">
    </dl>
</div>
<div>
    
</div>

<h2>Details</h2>


